<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4772398950-r3phstmpmhgj60b5s8nq4t02tdmsp0j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4772398950-r3phstmpmhgj60b5s8nq4t02tdmsp0j6</string>
	<key>API_KEY</key>
	<string>AIzaSyAcCBhrJaupEPqsW6qxh65XK8SkKdf2Ydo</string>
	<key>GCM_SENDER_ID</key>
	<string>4772398950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>shoppy-1d1a6</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppy-1d1a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4772398950:ios:a8caf7c6b8b4727876aaa7</string>
</dict>
</plist>